* {
   margin: 0;
   padding: 0;
   background-color: #000;
}
* {
  margin: 0;
  padding: 0;
  text-emphasis-color: #ff2192;
  text-underline-position: 0% 100%;
}

.container {
    width: 100%;
    heigth: 100vh;
    display: flex;
    justifly-content: center;
    align-items: center;
}

.videop-layer {
   width: 400px;
}

.text {
  font-family: sans-serif;
  font-size: 150px;
  font-weight: 900;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  color: transparent;
  background-size: 400% 400%;
  background-clip: text;
  animation: gradient 5s ease infinite;
  -ms-text-overflow: clip;
}

@kayframes gradient {
    0% {
       background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}